body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* PC端样式 */


a {
    text-decoration: none;
}

a:hover {
    color: #409EFF;
}

.email-main-container {
    margin: 0;
    min-width: 1000px;
    padding: 0 5rem;
}

:root {
    --njk-title-color: black;
    --njk-title-align: center;
    --njk-title-position: relative;
    --njk-title-margin: 36px 0 20px;
    --njk-table-margin: 0 auto 20px;
}