/* Block.njk */
.code-block {
  --block-margin: 0px
  margin: var(--block-margin) 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.code-block pre {
  margin: 0;
  padding: 1rem;
  background-color: silver;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.code-block code {
  display: block;
  overflow-x: auto;
  
}