.title-base {
  text-align: center;
  font-weight: bolder;
}

.njk-title-h1 {
  position: relative;
  padding: 0 0 4.8px;
}

.njk-title-h2 {
  position: relative;
}

.njk-title-h3 {
  position: relative;
  margin-bottom: 10px;
}

/* .njk-title-h2::before,
.njk-title-h1::before {
  display: none;
  position: absolute;
  content: "# ";
  color: #007bff;
}

.njk-title-h1::before {
  left: -26px;
}

.njk-title-h2::before {
  left: -18px;
}

.njk-title-h1:hover::before,
.njk-title-h2:hover::before {
  display: inline-block;
} */