.title-base {
  --font-weight: 800;
  --font-size: 18px;
  color: var(--njk-title-color);
  text-align: var(--njk-title-align);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  padding: 8px 30px;
}

.njk-title-h1 {
  padding: 0 0 4.8px;
  position: var(--njk-title-position);
  margin: var(--njk-title-margin);
  color: var(--njk-title-color);
  text-align: var(--njk-title-align);
  font-size: 2.5rem
}

.njk-title-h2 {
  padding: 0 0 4.8px;
  position: var(--njk-title-position);
  margin: var(--njk-title-margin);
  color: var(--njk-title-color);
  text-align: var(--njk-title-align);
  font-size: 2rem

}

.njk-title-h3 {
  padding: 0 0 4.8px;
  margin: var(--njk-title-margin);
  position: var(--njk-title-position);
  color: var(--text-color);
  text-align: var(--njk-title-align);
  font-size: 1rem

}

.njk-title-h2::before,
.njk-title-h1::before {
  display: none;
  position: absolute;
  content: "#";
  color: #007bff;
}

.njk-title-h1::before {
  left: -26px;
  top: 5px;
}

.njk-title-h2::before {
  left: -18px;
  top: 5px;
}

.njk-title-h1:hover::before,
.njk-title-h2:hover::before {
  display: inline-block;
}


.title-center {
  text-align: center;
}