{% macro text_default(ctx) %}
    {{ ctx.text | replace("false", "❌") | replace("true", "✔️") }}
{% endmacro %}

{% macro bool_text(ctx) %}
    {{ ctx.text | replace("false", "❌") | replace("true", "✔️") }}
{% endmacro %}

{% macro use_text(ctx) %}
{% if ctx.type == "h1" %}
{{ title_h1(ctx) }}
{% else %}
{{ text_default(ctx) }}
{% endif %}
{% endmacro %}