{% macro title_default(ctx) %}
    <h1 style="text-align: center">{{ ctx.text }}</h1>
{% endmacro %}
{% macro title_h1(ctx) %}
    <h1 id="{{ ctx.text }}" class="title-color" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h1>
{% endmacro %}
{% macro title_h2(ctx) %}
    <h2 id="{{ ctx.text }}" class="title-color" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h2>
{% endmacro %}
{% macro title_h3(ctx) %}
    <h3 id="{{ ctx.text }}" class="title-color" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h3>
{% endmacro %}
{% macro title_table_default(ctx) %}
    <h3 id="{{ ctx.text }}" class="title_table_default" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h3>
{% endmacro %}
{% macro use_title(ctx) %}
    {% if ctx.type == "h1" %}
        {{ title_h1(ctx) }}
    {% elif ctx.type == "h2" %}
        {{ title_h2(ctx) }}
    {% elif ctx.type == "h3" %}
        {{ title_h3(ctx) }}
    {% else %}
        {{ title_default(ctx) }}
    {% endif %}
{% endmacro %}