{% macro use_date(ctx) %}
<div class="center-info-box"><span style="font-weight:800;">Date：</span>{{ ctx.text}}</div>
{% endmacro %}
{% macro use_checker(ctx) %}
<div class="center-info-box"><span style="font-weight:800;">Checker：</span>{{ ctx.text}}</div>
{% endmacro %}