{% macro use_date(ctx) %}
<div class="center-info-box"><span style="font-weight:800;color:#606266;">Date：</span>{{ ctx.text}}</div>
{% endmacro %}
{% macro use_checker(ctx) %}
<div class="center-info-box"><span style="font-weight:800;color:#606266;">Checker：</span>{{ ctx.text}}</div>
{% endmacro %}