{% macro use_date(ctx) %}
<div class="center-info-box" style="text-align: center;"><span style="font-weight:bolder;">Date：</span>{{ ctx.text}}</div>
{% endmacro %}
{% macro use_checker(ctx) %}
<div class="center-info-box" style="text-align: center;"><span style="font-weight:bolder;">Checker：</span>{{ ctx.text}}</div>
{% endmacro %}