{% macro td_default(ctx) %}
    {% if ctx.text %}
        {% set text = ctx.text %}
    {% else %}
        {% set text = ctx %}
    {% endif %}
    <td class="default-cell">{{ text | replace("false", "❌")| replace("False", "❌")| replace("True", "✔️") | replace("true", "✔️") }}</td>
{% endmacro %}
{% macro table_default(ctx) %}
    {% if ctx.columns %}
        {% set columns = ctx.columns %}
    {% elif ctx.th %}
        {% set columns = ctx.th %}
    {% else %}
        {% set columns = [] %}
    {% endif %}
    {% if ctx.data %}
        {% set data = ctx.data %}
    {% elif ctx.tbody %}
        {% set data = ctx.tbody %}
    {% endif %}
    {% if ctx.title %}
        {% set title = {text:ctx.title} %}
        {{ use_comp_start() }}
        {{ title_h2(title) }}
        {{ use_comp_end() }}
    {% endif %}
    <table class="my-daframe-default">
        <thead class="thead-light">
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr class="default-row">
                    {% if ctx.data %}
                        {% for column in columns %}
                            {{ td_default(row[column]) }}
                        {% endfor %}
                    {% else %}
                        {% for value in row %}
                            {{ td_default(value) }}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
{% macro use_table(ctx) %}
    {% if ctx.title %}
        {{ table_default(ctx) }}
    {% else %}
        {{ table_default(ctx) }}
    {% endif %}
{% endmacro %}