{% macro use_table_wrapper(macro) %}
    <table style="width: 100%;table-layout: auto">
        <th>
            <td>{{ macro }}</td>
        </th>
    </table>
{% endmacro %}
{% macro title_default(ctx) %}
    <h1 class="title-base">{{ ctx.text }}</h1>
{% endmacro %}
{% macro title_h1(ctx) %}
    <h1 class="title-base njk-title-h1" id="{{ ctx.text }}" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h1>
{% endmacro %}
{% macro title_h2(ctx) %}
    <h2 class="title-base njk-title-h2" id="{{ ctx.text }}" class="" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h2>
{% endmacro %}
{% macro title_h3(ctx) %}
    <h3 class="title-base njk-title-h3" id="{{ ctx.text }}" class="" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h3>
{% endmacro %}
{% macro title_table_default(ctx) %}
    {{ use_comp_start() }}
    <h3 class="title-base njk-title-h3" id="{{ ctx.text }}">
        {{ ctx.text }}
    </h3>
    {{ use_comp_end() }}
{% endmacro %}
{% macro use_title(ctx) %}
    {% if ctx.type == "h1" %}
        {{ title_h1(ctx) }}
    {% elif ctx.type == "h2" %}
        {{ title_h2(ctx) }}
    {% elif ctx.type == "h3" %}
        {{ title_h3(ctx) }}
    {% else %}
        {{ title_default(ctx) }}
    {% endif %}
{% endmacro %}