{% macro title_default(ctx) %}
    <div class="title-base" style="{{ ctx.style }}">
        <span>{{ ctx.text }}</span>
    </div>
{% endmacro %}
{% macro title_h1(ctx) %}
    <h1 class="title_h1" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h1>
{% endmacro %}
{% macro title_table_default(ctx) %}
    <h3 class="title_table_default" style="{{ ctx.style }}">
        {{ ctx.text }}
    </h3>
{% endmacro %}
{% macro use_title(ctx) %}
    {% if ctx.type == "h1" %}
        {{ title_h1(ctx) }}
    {% else %}
        {{ title_default(ctx) }}
    {% endif %}
{% endmacro %}